<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meal Detail</title>
    <link rel="stylesheet" href="/static/css/newstyle.css">
</head>
<body class="meal-detail-page">

<div th:replace="~{fragments/navigation}"></div>

<main>
    <h3 th:text="${meal.name}">Meal Name</h3>
    <p th:text="'Calories: ' + ${meal.calories}"></p>
    <p th:text="'Type: ' + ${meal.mealType}"></p>
    <p th:text="'Ingredients: ' + ${meal.ingredients}"></p>
    <p th:text="'Recipe: ' + ${meal.recipe}"></p>
</main>

</body>
</html>
