<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Athletic Programs</title>
    <link rel="stylesheet"  href="/static/css/style.css">

</head>
<body>

<div th:replace="~{fragments/navigation}"></div>

<main>
    <h1>Our Meals</h1>
    <div class="meals-container">
        <div th:each="meal : ${meals}" class="meal">
            <h2 th:text="${meal.name}">Meal Name</h2>
            <p th:text="${meal.calories}">Meal Calories</p>
            <p th:text="${meal.mealType}">Meal Type</p>
        </div>
    </div>
</main>

</body>
</html>
