<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programs</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div th:replace="~{fragments/navigation}"></div>
<div class="content-wrapper">
    <h1>Our Programs</h1>
    <div class="programs-wrapper">
        <div th:each="program : ${programs}" class="program-card">
            <h2 th:text="${program.title}"></h2>
            <p th:text="${program.description}"></p>
            <a th:if="${program.getProgramGoal() == 'LOSE_WEIGHT'}"
               th:href="@{/programs/lose-weight/details(id=${program.id})}">
                Learn More
            </a>
            <a th:if="${program.programGoal == 'RUN_MORE'}"
               th:href="@{/programs/run-more/details(id=${program.id})}">
                Learn More
            </a>
        </div>
    </div>
</div>
</body>
</html>
