<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="/css/newstyle.css">
</head>
<div th:replace="~{fragments/navigation}"></div>
<body class="index-page">
<div class="content-wrapper">
    <main class="main-content">
        <h1 class="large-text">Welcome to the Athletic Program</h1>
        <p class="intro-text">
            You can find the best programs with running, nutrition, and fitness tips to help you achieve your goals. Whether you're a beginner or an experienced athlete, our programs are designed to improve your performance and health. Join us and start your journey to a healthier lifestyle today!
        </p>
        <a href="/programs" class="program-button">Explore Programs</a>
    </main>
</div>
<footer>
</footer>
</body>
</html>